@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/transportadora-loggi.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@layer components {
  .footer-nav {
    @apply hover:text-sky-500 hover:underline hover:underline-offset-2 hover:decoration-sky-500 text-gray-500 cursor-pointer;
  }
  .footer-apps {
    @apply hover:scale-95 hover:delay-150 hover:duration-150 rounded-xl border-[1px] w-[20rem] h-[4rem] border-sky-500 bg-transparent cursor-pointer p-2 pr-4 pl-4;
  }
}
